# Auto detect text files and perform LF normalization
* text=auto
# Will not pull GMLive assets for people who has GMLive
scripts/GMLive*
extensions/GMLive/
datafiles/GMLive
objects/obj_gmlive*

# Internal to do list
To Do List.txt

# This prevents pushing of internal Tome assets
github_token.txt
scripts/__tome*
scripts/tome*
datafiles/Tome*
objects/__tome*